<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenavstyle">
    </mat-sidenav>
    <mat-toolbar color="primary" class="d-flex justify-content-around p-5" #toolbar>
        <span class="h1 "><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="text-decoration-none text-white">Juicy</a></span>
        <h1>{{ footermsg }}</h1>
        <div>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <i class="fa-brands fa-github"></i>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <i class="fa-brands fa-linkedin"></i>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <i class="fa-brands fa-instagram"></i>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <i class="fa-brands fa-angular"></i>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <i class="fa-brands fa-laravel"></i>
            </button>
        </div>
    </mat-toolbar>
</mat-sidenav-container>