<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/starters">Starters</a>
      <a mat-list-item routerLink="/mains">Mains</a>
      <a mat-list-item routerLink="/desserts">Desserts</a>
      <div class="list">
        @if ((isHandset$ | async) === true) {
        @if (!loggedIn) {
        <li class="list-item p-3"><a href="" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none text-white">Login</a></li>
        <li class="list-item p-3"><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none text-white">Register</a></li>
        } @else {
        <li class="list-item p-3"><a href="" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none text-white">My list</a></li>
        <li class="list-item p-3" (click)="logout()">Logout</li>
        }
        }
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="p-5" color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span class="h1 "><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="text-decoration-none text-white">Juicy</a></span>
      <ul class="list-group list-unstyled d-flex flex-row">
        @if ((isHandset$ | async) !== true) {
        @if (!loggedIn) {
        <li class="list-item p-3"><a href="" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none text-white">Login</a></li>
        <li class="list-item p-3"><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none text-white">Register</a></li>
        } @else {
        <li class="list-item p-3"><a href="" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none text-white">My list</a></li>
        <li class="list-item p-3" (click)="logout()">Logout</li>
        }
        }

      </ul>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>