<div class="wrapper">
    <form class="form-signin d-flex flex-column align-items-center">
        <h2 class="form-signin-heading text-black">Register</h2>
        <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="registerObj.name"
            required="" autofocus="" />
        <br>
        <input type="text" class="form-control" name="email" placeholder="Email Address" [(ngModel)]="registerObj.email"
            required="" autofocus="" />
        <br>
        <input type="password" class="form-control" name="password" placeholder="Password"
            [(ngModel)]="registerObj.password" required="" autofocus="" />
        <br>
        <input type="password" class="form-control" name="password" placeholder="Repeat Password"
            [(ngModel)]="registerObj.password_confirmation" required="" />
        <button class="btn btn-lg btn-primary btn-block"
            [disabled]="!registerObj.name || !registerObj.email || !registerObj.password || !registerObj.password_confirmation"
            type="submit" (click)="onRegister()">Register</button>
        <br>
        <a href="/login">Login</a>
    </form>
</div>